$Primaire : #9356DC;
$Secondaire : #FF79DA;
$Tertiaire : #99E2D0;
$grey : #EAEAEA;
$background : #F6F6F6;
$degradation : linear-gradient(to top, $Primaire, $Secondaire);

/*********************Header*******************/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;

    img {
        width: 40%;
        height: 20px;
    }
}

/*********************Position*******************/

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 40px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);

    p {
        text-align: center;
        margin-left: 10px;
    }
}

/*********************Reservation*******************/
.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    padding: 40px;
    gap: 20px;
    background-color: $background;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    button {
        border-radius: 25px;
        border-style: none;
        background: $degradation;
        color: white;
        width: 218px;
        height: 50px;
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1)
    }

    button:hover {
        transition-duration: 2s;
        filter: brightness(1.45);
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.4)
    }
}

/*********************Fonctionnement*******************/

.fonctionnement {
    display: flex;
    flex-direction: column;
    height: 370px;
    padding: 40px 0 40px 0;

    h2 {
        padding-left: 20px;
    }

    .fonctionnement__content {
        display: flex;
        flex-direction: column;
        height: 370px;
        padding: 40px 0 40px 0;
    }

    .fonctionnement__box {
        display: flex;
        align-items: center;
        width: 322px;
        height: 72px;
        border-radius: 20px;
        background-color: #F6F6F6;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        margin: auto;
        gap: 20px;
    }

    p {
        font-weight: bold;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translateX(-10px);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: white;
        background-color: $Primaire;
    }

    i {
        margin-left: 25px;
        color: #7e7e7e;
    }

    .shop {
        color: $Primaire;
    }
}

/*********************Restaurants*******************/

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $background;
    padding: 40px 0 40px 0;

    h2 {
        padding-left: 20px;
    }


    .restaurants__box {
        width: 90%;
        height: 220px;
        margin: auto;
        background-color: white;
        border-radius: 20px;

        button {
            background-color: $Tertiaire;
            border: none;
            color: #008766;
            width: 80px;
            height: 25px;
            position: absolute;
            transform: translateX(-100px) translateY(10px);
        }
    }

    .restaurants__box img {
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    .restaurants__box__text {
        margin-left: 10px;
    }

    .restaurants__box__text__bold {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .restaurants__box__icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    i {
        margin-right: 20px;
    }

    .coeur:hover::before {
        font-weight: 900;
        background: linear-gradient(to top, $Primaire, $Secondaire);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

/*********************footer*******************/

.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding: 20px;
    gap: 20px;

    li {
        margin-bottom: 10px;
    }

    .footer__li {
        font-weight: 500;
    }

    i {
        margin-right: 10px;
        color: white;
    }
}

/*************************************************desktop***************************************************************/

@media screen and (min-width: 1024px) {

    /*********************Header*******************/

    .header {
        height: 90px;

        img {
            width: 200px;
            height: 30px;
        }
    }

    /*********************Position*******************/

    .position {
        box-shadow: none;
    }

    /*********************Reservation*******************/

    .reservation {
        margin-top: 0;
        gap: 30px;
    }

    /*********************Fonctionnement*******************/

    .fonctionnement {
        height: 180px;
        margin: auto;
        width: 80%; // voir pour display à la place

        .fonctionnement__content {
            flex-direction: row;
            padding: 0;
            height: 100px; //A modifier
        }
    }

    /*********************Restaurants*******************/

    .restaurants {

        h2 {
            width: 80%;
            margin: auto;
        }

        .restaurant__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            gap: 40px;
        }

        .restaurants__box {
            width: 500px;
            height: 250px;

        }
    }

    /*********************footer*******************/

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        padding: 20px;
        gap: 20px;

        li {
            margin-bottom: 10px;
        }

        .footer__li {
            font-weight: 500;
        }

        i {
            margin-right: 10px;
            color: white;
        }
    }

}