$Primaire : #9356DC;
$Secondaire : #FF79DA;
$Tertiaire : #99E2D0;



/*********************Header*******************/

.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header img {
    width: 40%;
}

/*********************Position*******************/

.position {
    display: flex;
    justify-content: center;
    background-color: grey;
}