@charset "UTF-8";
/*********************Header*******************/
.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.arrow {
  color: #353535;
}

.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}
.header__img img {
  width: 162px;
  height: 20px;
}

/*********************Img*******************/
.img img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/*********************Titre*******************/
.menu {
  background-color: #F6F6F6;
  transform: translateY(-50px);
  border-radius: 20px 20px 0 0;
  margin-bottom: -50px;
}

.titre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
  padding: 30px 0 30px 0;
}
.titre h1 {
  font-size: 1.5rem;
}
.titre .coeur:hover::before {
  font-weight: 900;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 2s;
}

/*********************MENU*******************/
.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.titre_menu {
  margin-left: 20px;
  position: relative;
}

.titre_menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.box1__plat {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 90%;
  height: 70px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInUp 1.2s forwards;
}
.box1__plat .bold {
  font-weight: bold;
}
.box1__plat .box1__plat__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 60%;
  padding: 10px;
}
.box1__plat .box1__plat__description p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.box1__plat .box1__plat__prix {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

/**********************Animation plat progressif*******************/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.box1__plat:nth-child(2) {
  animation-delay: 0.2s;
}

.box1__plat:nth-child(3) {
  animation-delay: 0.5s;
}

.box1__plat:nth-child(4) {
  animation-delay: 0.8s;
}

.box1__plat:nth-child(5) {
  animation-delay: 1.1s;
}

/*********************Animation Checkmark*******************/
.checkmark {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 0px;
  padding: 0;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out;
  opacity: 0;
}

.checkmark i {
  font-size: 1.5rem;
  color: white;
}

.box1__plat:hover .checkmark {
  right: 0;
  opacity: 1;
  width: 50px;
}

.box1__plat:hover .box1__plat__prix {
  transform: translateX(-50px);
  /* Déplacer la div prix à gauche */
  transition: 0.5s ease-in-out;
}

.box1__plat:not(:hover) .box1__plat__prix {
  transform: translateX(0);
  /* Déplacer la div prix à gauche */
  transition: 1s ease-in-out;
}

/*********************BOUTON*******************/
.bouton {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.bouton button {
  border-radius: 25px;
  border-style: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  width: 218px;
  height: 50px;
}
.bouton button:hover {
  transition-duration: 2s;
  filter: brightness(1.45);
}

/*********************footer*******************/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 20px;
  gap: 20px;
}
.footer li {
  margin-bottom: 10px;
}
.footer .footer__li {
  font-weight: 500;
}
.footer i {
  margin-right: 10px;
  color: white;
}

/*************************************************desktop***************************************************************/
@media screen and (min-width: 1024px) {
  /*********************Header*******************/
  .header {
    height: 90px;
  }
  .header img {
    width: 200px;
    height: 30px;
  }
  /*********************Img*******************/
  .img img {
    height: 375px;
  }
  /*********************Titre*******************/
  .menu {
    width: 80%;
    margin: auto;
    margin-bottom: -50px;
  }
  .titre {
    justify-content: center;
  }
  .titre h1 {
    margin-right: 10px;
  }
  /*********************MENU*******************/
  .box {
    width: 60%;
    margin: auto;
    padding: 20px;
  }
  .box1__plat__description {
    width: 80%;
  }
  .titre_menu {
    margin-left: 20px;
    position: relative;
  }
  .titre_menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
  }
  /*********************BOUTON*******************/
  .bouton {
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  .bouton button {
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    color: white;
    width: 218px;
    height: 50px;
  }
  .bouton button:hover {
    transition-duration: 2s;
    filter: brightness(1.45);
  }
  /*********************footer*******************/
  .footer {
    flex-direction: row-reverse;
    gap: 50px;
  }
  .footer ul {
    display: flex;
    gap: 20px;
  }
}
/*************************************************Tablette***************************************************************/
@media screen and (min-width: 768px) {
  /*********************Header*******************/
  .header {
    height: 90px;
  }
  .header img {
    width: 200px;
    height: 30px;
  }
  /*********************Img*******************/
  .img img {
    height: 375px;
  }
  /*********************Titre*******************/
  .menu {
    width: 80%;
    margin: auto;
    margin-bottom: -50px;
  }
  .titre {
    justify-content: center;
  }
  .titre h1 {
    margin-right: 10px;
  }
  /*********************MENU*******************/
  .box {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  .box1__plat__description {
    width: 80%;
  }
  .titre_menu {
    margin-left: 20px;
    position: relative;
  }
  .titre_menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
  }
  /*********************BOUTON*******************/
  .bouton {
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  .bouton button {
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    color: white;
    width: 218px;
    height: 50px;
  }
  .bouton button:hover {
    transition-duration: 2s;
    filter: brightness(1.45);
  }
  /*********************footer*******************/
  .footer {
    flex-direction: row-reverse;
    gap: 50px;
  }
  .footer ul {
    display: flex;
    gap: 15px;
  }
}

/*# sourceMappingURL=menu.css.map */
